@font-face {
  font-family: NeueMontreal;
  src: url(../../font/NeueMontreal-Bold.otf);
}

@font-face {
  font-family: MonumentExtend;
  src: url(../../font/MonumentExtended-Regular.otf);
}

@font-face {
    font-family: Odessa;
    src: url(../../font/78936__.TTF);
  }
